
body{
    /*background-color: #f3f3f3;*/
    /*background-color: #F9E9D3;*/
    background-color: #daf4f6;
}
#weatherHeader{
    /*background-color: #8f8f90;*/
    /*margin: 10px;*/
    position: relative;
    height:100%;
    /*text-align: center;*/
    color: white;
    font-family: "Merriweather", serif;
}
#weatherDashboard{
    margin:10px;
}
#colorModeBtn{
    color:white;
    width:100px;
    height:70%;
    margin:10px;
}
#mapBackground{
    border-radius: 30px;
    box-shadow: 2px 2px 4px black;
    margin:20px;
}
#searchBar{
    text-align: center;
    color: white;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
}
#address-input{
    margin-top: 10px;
}
#search-btn{
    /*background-color: rgba(220, 142, 150, 0.91);*/
    box-shadow: 1px 1px 2px black;
    color: white;
;
}
#map{
    width:100%;
    height: 650px;
    position:relative;
    z-index: 2;
    margin-bottom:5px;
    border-radius: 30px;
}
#insertCurrent{
    margin:20px;
    padding:10px;
    /*background-color: rgba(203, 119, 130, 0.82);*/
    color: white;
    display:flex;
    box-shadow: 2px 2px 4px black;
    border-radius: 30px;
    /*border: 10px solid  #03A5B7;*/
    /*border: 5px solid #65334D;*/
}

#insertIcon{
    /*background-color: rgba(203, 119, 130, 0.82);*/
    /*border: 10px solid  #03A5B7;*/

    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    box-shadow: 2px 2px 4px black;
    /*border: 5px solid #65334D;*/
    text-align: center;
}
#mainIcon{
    height: 150px;
    width: 150px;
    margin:0 0 10px 0;
}
#currentCard{
    align-items: center;
    text-align: center;
    margin:10px;
    padding:10px;
}
.currentWeather{
    color:white;
    align-items: center;
    text-align: center;
}
#thermometer{
    margin:10px;
}
#insertWeather{
    display:flex;
    justify-content: space-between;
    margin:5px;
}
#insertWeatherContainer{
    /*background-color: #8f8f90;*/
    border-radius: 30px;
    /*border: 10px solid #80CFD1;*/
    margin:15px;
    box-shadow: 2px 2px 4px black;
}
#forecastHeader{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top:5px;
}
.dtCards{
    margin:5px 5px 10px 5px;
    padding: 20px 5px 5px 5px;
    width:20%;
    box-shadow: 2px 2px 4px black;
    border-radius: 30px;
    color: white;
    text-align: center;
}
.coordinates {
    /*background: rgba(203, 119, 130, 0.79);*/
    background-color: #e06848;
    color: #fff;
    position: absolute;
    bottom:40px;
    left: 20px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    display: none;
    z-index:5;
    border-radius: 20px;
}
/*day mode*/
.dayModeBackground{
    background-color: #daf4f6;
}
.dayModeHeader{
    background-color: #03A5B7;
}
.dayModeBtn{
    background-color: #80CFD1;
}
.dayModeMapBackground{
    background-color: #80CFD1;
}
.dayModeSearchBar{
    background-color: #03A5B7;
}
.dayModeSearchBtn{
    background-color: #80CFD1
}
.dayModeCurrent{
    background-color: #80CFD1;
}
.dayModeIcon{
    background-color:#80CFD1;
}
.dayModeWeatherContainer{
    background-color: #03A5B7;
}
.dayModeDtCards{
    background-color: #80CFD1;

    margin:5px 5px 10px 5px;
    padding: 20px 5px 5px 5px;
    width:20%;
    box-shadow: 2px 2px 4px black;
    border-radius: 30px;
    color: white;
    text-align: center;
}

/*night mode*/
.nightModeBackground{
    background-color: #dad1ee;
}
.nightModeHeader{
    background-color:#3D348B;
}
.nightModeBtn{
    background-color:#BC96E6;
}
.nightModeMapBackground{
    background-color:#BC96E6;
}
.nightModeSearchBar{
    background-color: #3D348B;
}
.nightModeSearchBtn{
    background-color: #BC96E6;
}
.nightModeCurrent{
    background-color:#BC96E6;
}
.nightModeIcon{
    background-color:#BC96E6;
}
.nightModeWeatherContainer{
    background-color: #3D348B;
}
.nightModeDtCards{
    background-color:#BC96E6;
    margin:5px 5px 10px 5px;
    padding: 20px 5px 5px 5px;
    width:20%;
    box-shadow: 2px 2px 4px black;
    border-radius: 30px;
    color: white;
    text-align: center;
}


/*fonts*/
h2,h3{
    font-family: "Merriweather", serif;
}
p{
    font-family: "Montserrat", sans-serif;
}
